[alias]
    lp-remoteadd = "!f() { \
                    TEAM=$1; \
                    LP_USER=$(git config user.lpuser); \
                    REPO=$(basename -s .git $(git config --get remote.origin.url)); \
                    git remote add \
                        ${LP_USER} \
                        git+ssh://${LP_USER}@git.launchpad.net/~${LP_USER}/${TEAM:=cloudware}/+git/${REPO}; \
                    }; f"
    push-me = "!f() { \
               LP_USER=$(git config user.lpuser); \
               git push --set-upstream ${LP_USER} $1; \
               }; f"

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true

[core]
    editor = nvim

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[rerere]
    enabled = true
    autoupdate = true

[url "git+ssh://jrtknauer@git.launchpad.net/"]
    insteadof = lp:

[user]
    email = jrtknauer@proton.me
    name = Jarrett Knauer
    lpuser = jrtknauer

[includeIf "gitdir:~/work/canonical/"]
    path = ~/.gitconfig.canonical
